---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
import ThemeSwitch from '@/components/ThemeSwitch.astro';
import About from '@/components/About.astro';
import Experience from '@/components/Experience.astro';
import Projects from '@/components/Projects.astro';

import { basics } from "@/data/cv.json";
const { name, label } = basics;
---

<Layout title={`${name} Portafolio - ${label}`}>
	<main class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6">
		<div class="space-y-6 md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0">
			<Hero />
			<ThemeSwitch />
		</div>
		<div class="space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-2 print:space-y-0">
      <About />
			<Experience className="print:col-span-3" />
			<Projects className="print:hidden" />
			<!-- <Skills className="print:hidden" /> -->
			<!-- <Education className="order-first" /> -->
		</div>
		<!-- <Tail /> -->
	</main>

	<!-- <KeyboardManager /> -->
</Layout>

<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<style>
	@page {
		size: auto;
		margin: 0mm;
	}
	main {
		margin: auto;
		width: 100%;
	}
</style>
