---
import Section from "./Section.astro";
---

<Section id="about" title="Sobre mí" className="pt-10 md:pt-20 md:pb-16">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-skin-hue [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="text-skin-muted">
      Soy <strong>Raúl Quimbaya, Ingeniero de Sistemas</strong>, con más de 2 años de experiencia en el desarrollo de aplicaciones web modernas, participando en proyectos reales tanto en entornos empresariales como colaborativos. He trabajado en el diseño e implementación de soluciones <strong>frontend</strong> y <strong>full-stack</strong>, integrando interfaces, lógica de negocio, <strong>APIs REST</strong> y bases de datos relacionales y no relacionales.
    </p>

    <p class="text-skin-muted">
      Tengo experiencia utilizando tecnologías como <strong>React, Next.js, Node.js y Spring Boot</strong>, así como <strong>PostgreSQL, MySQL, MongoDB y Supabase</strong>, desarrollando aplicaciones eficientes, escalables y centradas en la experiencia del usuario.
      He colaborado en procesos de <strong>despliegue y puesta en producción</strong>, trabajando con servicios cloud como <strong>AWS y Google Cloud</strong>, uso de <strong>Docker</strong> para estandarizar ambientes y <strong>GitHub Actions</strong> para automatizar flujos básicos de integración y despliegue.
    </p>

    <p class="text-skin-muted">
      Me caracterizo por aplicar <strong>buenas prácticas</strong>, trabajar bajo metodologías ágiles y adaptarme rápidamente a <strong>equipos multidisciplinarios</strong>. Mantengo un enfoque en la mejora continua, la <strong>calidad del código</strong> y la entrega de soluciones que aporten valor real a las organizaciones.
    </p>
  </div>
</Section>
