---
import Section from "./Section.astro";
---

<Section id="about" title="Sobre mí" className="pt-10 md:pt-20 md:pb-16">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-skin-hue [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="text-skin-muted">
      Soy <strong>Raúl Quimbaya, Ingeniero de Sistemas</strong>, con enfoque en el desarrollo de aplicaciones web modernas. Me especializo en la construcción de <strong>interfaces intuitivas, optimizadas y escalables</strong>, utilizando tecnologías como <strong>React, Next.js, Astro y Angular</strong>.
    </p>

    <p class="text-skin-muted">
      A lo largo de mi trayectoria he trabajado en proyectos donde he participado tanto en el <strong>frontend</strong> como en el <strong>desarrollo full stack</strong>, integrando APIs, lógica de negocio y bases de datos. Cuento con experiencia en <strong>Node.js, Laravel y Spring Boot</strong>, desarrollando soluciones que conectan de forma eficiente el cliente y el servidor.
    </p>

    <p class="text-skin-muted">
      Me motiva enfrentar nuevos retos, escribir <strong>código limpio</strong>, aplicar buenas prácticas y trabajar en equipo para crear productos digitales que aporten valor real a los usuarios. Disfruto aprender de forma continua y mantenerme actualizado en el ecosistema web.
    </p>
  </div>
</Section>
