---
import Section from "./Section.astro";
---

<Section id="about" title="Sobre mí" className="pt-10 md:pt-20 md:pb-16">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-skin-hue [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="text-skin-muted">
      Me llamo Raúl Quimbaya y soy un <strong>apasionado desarrollador web</strong> con un enfoque en la creación de experiencias web modernas y dinámicas. Me especializo en el desarrollo de <strong>interfaces intuitivas y optimizadas</strong>, utilizando tecnologías como <strong>React, Next.js, Astro y Angular</strong> para construir aplicaciones eficientes y atractivas.
    </p>

    <p class="text-skin-muted">
      A lo largo de mi trayectoria, he desarrollado diversos proyectos, explorando no solo el <strong>frontend</strong>, sino también el <strong>desarrollo fullstack</strong> cuando ha sido necesario. He trabajado con <strong>Node.js y Spring Boot</strong>, implementando soluciones completas que integran tanto el lado del cliente como el del servidor.
    </p>

    <p class="text-skin-muted">
      Disfruto enfrentar nuevos desafíos y mejorar continuamente mis habilidades. Me motiva la <strong>colaboración en equipo</strong>, la búsqueda de soluciones innovadoras y el aprendizaje constante para seguir creando productos de calidad que aporten valor a los usuarios.
    </p>
  </div>
</Section>
