---
const { className, title, id } = Astro.props;
import ProfileCheck from "@/icons/ProfileCheck.astro"
import Briefcase from "@/icons/Briefcase.astro"
import Code from "@/icons/Code.astro"
import Education from "@/icons/Education.astro"
import Skills from "@/icons/Skills.astro"

const ICONS: Record<string, any> = {
  "Sobre mí": ProfileCheck,
  "Experiencia": Briefcase,
  "Proyectos": Code,
  "Educación": Education,
  "Skills": Skills
}

const Icon = ICONS[title]
---

<section id={id} class:list={["flex flex-col gap-4 print:gap-0", className]}>
	{title && <h3 class="sticky z-100 top-0 -mx-8 px-8 bg-skin-fill/80 py-3 backdrop-blur-2xl md:py-0 md:relative md:mx-0 md:px-0 flex md:w-full items-center gap-3 md:pb-4 text-3xl print:gap-1 print:pb-0 print:text-xl font-semibold">{Icon && <Icon class="text-skin-hue" />} {title}</h3>}
	<slot />
</section>